apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: devopsacr30179.azurecr.io/auth-service:1.0
        ports:
        - containerPort: 8000
