apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications-deployment
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      containers:
      - name: notifications
        image: devopsacr30179.azurecr.io/notifications-service:1.0
        ports:
        - containerPort: 8000
