apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders-deployment
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
      - name: orders
        image: devopsacr30179.azurecr.io/orders-service:1.2
        ports:
        - containerPort: 8000
